* {
    font-family: 'Roboto', sans-serif;
}

$main-font: 'Roboto', sans-serif;
$second-font: 'Shrikhand', cursive;
$main-color: #9356DC;
$second-color: #FF79DA;
$third-color: #99E2D0;
$grey-dark: #353535;
$grey-color: #EAEAEA;
$grey-color-menus: #F6F6F6;
$grey-light-color: #F7F7F7; 
$white-color: #FFFFFF;
$black-color: black;
$heart-color: #101010;
$green-color: #008766;
$anim-time-point: 1s;
$anim-time-txt: 4s;

@mixin loader-txt {
    @keyframes txt {
        0% {
          transform: rotate(0deg);
        }
        50% {
          transform: rotate(180deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
}

@mixin loader-point {
    @keyframes point {
        0% {
         transform: scale(1);
     }
         50% {
             transform: scale(1.5);
         }
     100% {
         transform: scale(1);
     }
     }
}


@mixin navigation {
    .navbar {
        display: flex;
        align-items: center;
        &__logo {
            display: flex;
            align-items: center;
            height: 61px;
            height: 44px;
            margin-bottom: 2px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
            & i {
                margin-left: 23px;
                color: $black-color;
            }
            & img {
                display: flex;
                justify-content: center;
                margin-left: 64.8px;
                width: 43.2%;
            }
        }
    } 
}

@mixin font-weight-500 {
    font-weight: 500;
}

@mixin roboto-500 {
    font-weight: 500;
    font-size: 16px;
}

@mixin accueil-title {
    font-family: $main-font;
    font-weight: 700;
    font-size: 24px;
}

@mixin title-h1 {
    font-family: $second-font;
    font-weight: 400;
    font-size: 28px;
}

@mixin footer-title {
    font-family: $second-font;
    font-size: 18px;
    font-weight: 400;
}

@mixin all-button {
        background: linear-gradient(rgba(147,86,220,1), rgba(255,121,218,1));
        width: 49.6%;
        height: 50px;
        border-radius: 25px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        color: $white-color;
        cursor: pointer;
        border: none;
        @include roboto-500;
    }

@mixin all-footer {
    display: flex;
    flex-direction: column;
    padding: 22px 25px;
    background-color: $grey-dark;
    color: $white-color;
    & h4 {
        @include footer-title;
        margin: 0 0 9px 0;
    }
    & a {
        text-decoration: none;
        color: $white-color;
    }
    &__title {
    margin: 0;
    }
    &__list__text {
        margin-top: 7px;
    }
}

@mixin all-heart {
        &--base {
            position: absolute;
        }
        &--click {
            position: absolute;
            opacity: 0;
            background: linear-gradient($main-color, $second-color);
            background-clip: text;
            color: transparent;
            transition: all 300ms;
            &:hover {
                opacity: 1;
            }
        }
    }

@media (max-width:599px) {
body {
    height: 100%;
    width: 100%;
    box-sizing: border-box ;
    margin: 0;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1000;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    background-color: $grey-color;
    animation: loader-stop 5.5s forwards;
    transform-origin: top;
    @keyframes loader-stop {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1);
        }
        90% {
            transform: scale(1);
        }
        100% {
            transform: scale(0);
        }
    }
    
    &__txt {
        display: flex;
        justify-content: center;
        align-items: center;
        & p {
        font-family: $second-font;
        font-size: 50px;
        font-weight: 700;
        margin-bottom: 30px;
        }
        &__one {
            animation: txt $anim-time-txt linear;
            @include loader-txt;
        }
        &__two {
            animation: txt $anim-time-txt linear;
            animation-delay: 0.25s;
            @include loader-txt;
        }
        &__three {
            animation: txt $anim-time-txt linear;
            animation-delay: 0.5s;
            @include loader-txt;
        }
    }
    &__point {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        gap: 30px;
        font-size: 70px;
        &__one {
            color: $main-color;
            animation: point $anim-time-point;
            animation-iteration-count: 4;
            @include loader-point;
        }
        &__two {
            color: $second-color;
            animation: point $anim-time-point;
            animation-iteration-count: 4;
            animation-delay: 0.25s;
            @include loader-point;
        }
        &__three {
            color: $third-color;
            animation: point $anim-time-point;
            animation-iteration-count: 4;
            animation-delay: 0.5s;
            @include loader-point;
        }
    }
}

h1 {
    @include title-h1;
}

.explore__title__font, .functioning__title__font, .restaurants__title__font {
    @include accueil-title;
}

.navbar {
   @include navigation;
}

.display__none i {
    visibility: hidden;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $grey-color;
    height: 50px;
    @include roboto-500;
    &__input {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    & i {
        margin-right: 17px;
    }
    &__place {
        width: 45%;
        border: none;
        background-color: $grey-color;
    }
    ::placeholder {
        color: $black-color;
        opacity: 1;
    }
}

.explore {
    text-align: center;
    height: 287.5px;
    background-color: $grey-light-color;
    &__title {
        padding: 39.5px 58px 15px 42px;
        & h1 {
            margin: 0;
        }
        &--font {
            margin: 0;
        }
    }
    & p {
            font-family: $main-font;
            font-size: 18px;
            font-weight: 300;
            margin: 0;
        }
    &__content {
        margin: 0 26px 27px 34px;
    }
    &__research a {
        text-decoration: none;
        color: $white-color;
    }
}

button {
    @include all-button;
    &:hover {
        background: linear-gradient(lighten(rgba(147,86,220,1),5), lighten(rgba(255,121,218,1),5));
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
    }
}


.functioning {
    height: 440px;
    &__title {
        padding: 48px 80px 26px 20px;
        & h2 {
            margin: 0;
        }
    }
    &__list {
        width: 86%;
        height: 72.38px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        background-color: $grey-light-color;
        margin: 0 20px 24.94px 32.51px;
        border-radius: 20px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        position: relative;
        &__txt__one {
            margin-left: 27px;
            @include font-weight-500;
        }
        &__txt__two {
            margin: 23px;
            @include font-weight-500;
        }
        &__txt__three {
            margin: 20px;
            @include font-weight-500;
        }
        &__number {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: 96.2%;
            background-color: $main-color;
            color: $white-color;
            border-radius: 25px;
            width: 24px;
            height: 24px;
        }
    }
}

.fa-store {
    color: $main-color;
}

.restaurants {
    height: 1226px;
    padding: 0 18px 0 17px;
    background-color: $grey-light-color;
    &__title {
        display: flex;
        padding: 54px 80px 26px 0;
        & h2 {
            margin: 0;
        }
    }
}

.restaurants__card {
        width: 100%;
        height: 251px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        background-color: $white-color;
        border-radius: 15px;
        margin-bottom: 20px;
        position: relative;
        &__link {
            width: 100%;
            height: 100%;
            text-decoration: none;
            color: $black-color;
            display: flex;
            flex-direction: column;
            position: absolute;
        }
        & img {
            object-fit: cover;
            box-sizing: border-box;
            width: 100%;
            height: 174px;
            border-radius: 15px 15px 0 0;
        }
        & p {
            margin-top: 5px;
        }
        &__new {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 20px;
            right: 15px;
            background-color: $third-color;
            color: $green-color;
            font-size: 14px;
            font-weight: 500;
            height: 29px;
            border-radius: 2px;
            padding: 0 9px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
        }
    }

.restaurants__card__content {
    height: 77px;
    padding-left: 13px;
    margin-top: -5px;
    margin-bottom: 20px;
    border-radius: 0 0 15px 15px;
    background-color: $white-color;
    display: flex;
    flex-direction: column;
    & h3 {
        margin-top: 16px;
        margin-bottom: 5px;
        font-size: 18px;
        font-weight: 700;
    }
    & p {
        margin-bottom: 12px;
        font-size: 17px;
        font-weight: 300;
        margin-top: 0;
    }    
}

.fa-heart {
    font-size: 22px;
}

.heart__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    @include all-heart;
}

.heart__main {
   top: 206px;
   right: 25px;
    cursor: pointer;
}

.heart__menus {
    top: 51px;
    right: 50px;
    cursor: pointer;
}

.footer {
   @include all-footer;
}

.fa-utensils {
    margin-right: 11px;
}

.fa-handshake-angle {
    margin-right: 5px;
}

/***** Pages *****/

#pages {
    h1 {
        margin: 32px 0 40px 0;
        position: relative;
    }
    h2 {
        display: inline-block;
        position: relative;
        font-size: 16px;
        font-weight: 300;
        margin-top: 0;
        &::after {
            content: "";
            position: absolute;
            top: 30px;
            left: 0;
            height: 3px;
            width: 40px;
            background-color: $third-color;
        }
    }
}

.menu {
    & img {
        width: 100%;
        height: 275px;
    }
    &__cards {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: -60px;
        padding: 0 13px 40px 13px;
        background-color: $grey-color-menus;
        border-radius: 40px 40px 0 0;
        width: 100%;
        box-sizing: border-box;
    }
    &__link {
        text-decoration: none;
        color: $black-color;
    }
}

.menu__block__entrees, .menu__block__plats, .menu__block__desserts {
    margin-bottom: 40px;
}

.menu__restaurant {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 28px 0 4px;
    padding-bottom: 0;
}

.menu__card {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 12px;
    width: 100%;
    height: 69px;
    background-color: $white-color;
    border-radius: 15.0431px;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
   
    & h3 {
        margin: 0 0 5px 0;
        font-size: 18px;
        font-weight: 500;
    }
    & p {
        margin: 0;
        font-size: 15.0431px;
    }
}

.menu__plate {
    padding-left: 15px;
}

.menu__price {
    padding-right: 15px;
    font-size: 15.0341px;
    font-weight: 700;
    width: 16.90%;
    height: 69px;
}

.menu__check {
    width: 16.90%;
    height: 100%;
}

.menu__plate, .menu__price {
    margin-bottom: 12px;

}

.menu__button {
    display: flex;
    justify-content: center;
}

.footer {
    @include all-footer;
}
}