@charset "UTF-8";
/* variables */ /* mixins */ /* polices */
* {
  font-family: "Roboto", sans-serif;
}

/* body */
@media (max-width: 1900px) {
  body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    position: relative;
    z-index: 0;
  }
}
/* loader */
@media (max-width: 1900px) {
  .loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    background-color: #EAEAEA;
    animation: loader-stop 3s forwards;
    transform-origin: top;
  }
  @keyframes loader-stop {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1);
    }
    90% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  .loader__txt {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loader__txt p {
    font-family: "Shrikhand", cursive;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  .loader__txt__one {
    animation: txt 2s linear;
  }
  @keyframes txt {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loader__txt__two {
    animation: txt 2s linear;
    animation-delay: 0.25s;
  }
  @keyframes txt {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loader__txt__three {
    animation: txt 2s linear;
    animation-delay: 0.5s;
  }
  @keyframes txt {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loader__point {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    gap: 30px;
    font-size: 70px;
  }
  .loader__point__one {
    color: #9356DC;
    animation: point 1s;
    animation-iteration-count: 2;
  }
  @keyframes point {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }
  .loader__point__two {
    color: #FF79DA;
    animation: point 1s;
    animation-iteration-count: 2;
    animation-delay: 0.25s;
  }
  @keyframes point {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }
  .loader__point__three {
    color: #99E2D0;
    animation: point 1s;
    animation-iteration-count: 2;
    animation-delay: 0.5s;
  }
  @keyframes point {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }
}
/* buttons */
/* desktop */
/* main */
@media (max-width: 1900px) {
  button {
    background: linear-gradient(rgb(147, 86, 220), rgb(255, 121, 218));
    width: 218px;
    height: 50px;
    border-radius: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    font-weight: 500;
    font-size: 16px;
  }
  button:hover {
    background: linear-gradient(#a16be0, #ff93e1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
  }
  button:hover {
    background: linear-gradient(#a16be0, #ff93e1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
  }
  /* pages restaurants */
  .menu__button {
    display: flex;
    justify-content: center;
  }
  .menu__button button {
    background: linear-gradient(rgb(147, 86, 220), rgb(255, 121, 218));
    width: 186px;
    height: 50px;
    border-radius: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    font-weight: 500;
    font-size: 16px;
    /* modifié */
  }
  .menu__button button:hover {
    background: linear-gradient(#a16be0, #ff93e1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
  }
}
/* header */
@media (max-width: 1900px) {
  .navbar .navbar {
    display: flex;
    align-items: center;
  }
  .navbar .navbar__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 94px;
    margin-bottom: 2px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  }
  .navbar .navbar__logo i {
    position: absolute;
    top: 24px;
    left: 23px;
    color: black;
  }
}
@media (max-width: 1900px) and (min-width: 599.01px) and (max-width: 1900px) {
  .navbar .navbar__logo i {
    top: 40px;
  }
}
@media (max-width: 1900px) {
  .navbar .navbar__logo img {
    display: flex;
    justify-content: center;
    width: 43.2%;
  }
}
@media (max-width: 1900px) and (min-width: 1024.01px) and (max-width: 1900px) {
  .navbar .navbar__logo img {
    width: 13.89%;
  }
}
@media (max-width: 1900px) {
  .navbar__logo {
    height: 96px;
  }
}
@media (max-width: 599px) {
  .navbar .navbar {
    display: flex;
    align-items: center;
  }
  .navbar .navbar__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 61px;
    margin-bottom: 2px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  }
  .navbar .navbar__logo i {
    position: absolute;
    top: 24px;
    left: 23px;
    color: black;
  }
}
@media (max-width: 599px) and (min-width: 599.01px) and (max-width: 1900px) {
  .navbar .navbar__logo i {
    top: 40px;
  }
}
@media (max-width: 599px) {
  .navbar .navbar__logo img {
    display: flex;
    justify-content: center;
    width: 43.2%;
  }
}
@media (max-width: 599px) and (min-width: 1024.01px) and (max-width: 1900px) {
  .navbar .navbar__logo img {
    width: 13.89%;
  }
}
/* footer */
@media (max-width: 1900px) and (min-width: 1024.01px) and (max-width: 1900px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 114px;
    padding: 57px 26.42px 30px 200px;
    background-color: #353535;
    color: #FFFFFF;
  }
  .footer h4 {
    font-family: "Shrikhand", cursive;
    font-size: 18px;
    font-weight: 400;
    margin-left: 15px;
  }
  .footer__list {
    display: flex;
    align-items: center;
    gap: 7px;
  }
  .footer__list a {
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
  }
  .footer__list__text__one {
    display: flex;
    width: 190px; /* modifié */
    font-weight: 500;
    font-size: 16px;
  }
  .footer__list__text__two {
    width: 130px;
    font-weight: 400;
    font-size: 16px;
  }
}
@media (max-width: 1900px) and (min-width: 823.01px) and (max-width: 1024px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 114px;
    padding: 57px 26.42px 30px 200px;
    background-color: #353535;
    color: #FFFFFF;
  }
  .footer h4 {
    font-family: "Shrikhand", cursive;
    font-size: 18px;
    font-weight: 400;
    margin-left: 15px;
  }
  .footer__list {
    display: flex;
    align-items: center;
    gap: 7px;
  }
  .footer__list a {
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
  }
  .footer__list__text__one {
    display: flex;
    width: 190px; /* modifié */
    font-weight: 500;
    font-size: 16px;
  }
  .footer__list__text__two {
    width: 130px;
    font-weight: 400;
    font-size: 16px;
  }
}
@media (max-width: 1900px) and (max-width: 823px) {
  .footer {
    display: flex;
    flex-direction: column;
    padding: 22px 25px;
    background-color: #353535;
    color: #FFFFFF;
  }
  .footer h4 {
    font-family: "Shrikhand", cursive;
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 9px 0;
  }
  .footer a {
    text-decoration: none;
    color: #FFFFFF;
  }
  .footer__title {
    margin: 0;
  }
  .footer__list__text {
    margin-top: 7px;
  }
  .footer__list__text__one a {
    font-weight: 500;
    font-size: 16px;
  }
  .footer__list__text__two a {
    font-weight: 400;
    font-size: 16px;
  }
}
/* blocks-reused */
/* all pages */
@media (max-width: 1900px) {
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EAEAEA;
    height: 50px;
    font-weight: 500;
    font-size: 16px;
  }
  .form__input {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form i {
    margin-right: 17px;
  }
  .form__place {
    width: 45%;
    border: none;
    background-color: #EAEAEA;
  }
  .form ::placeholder {
    color: black;
    opacity: 1;
  }
  h1 {
    font-family: "Shrikhand", cursive;
    font-weight: 400;
    font-size: 28px;
  }
  .functioning {
    width: 100%;
    height: 228.38px;
    padding: 0 180px 50px 180px;
  }
}
@media (max-width: 1900px) and (min-width: 1024.01px) and (max-width: 1225px) {
  .functioning {
    padding: 0 70px 50px 70px;
  }
}
@media (max-width: 1900px) {
  .functioning__title {
    padding: 50px 0 25px 8px; /* modifié */
  }
  .functioning__title h2 {
    margin: 0;
  }
  .functioning__list {
    width: 21.39%; /* modifié */
    height: 72.38px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background-color: #F7F7F7;
    margin: 0; /* modifié */
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    position: relative;
  }
}
@media (max-width: 1900px) and (min-width: 1024.01px) and (max-width: 1225px) {
  .functioning__list {
    width: 25%;
  }
}
@media (max-width: 1900px) {
  .functioning__list__txt__one {
    margin-left: 27px;
    font-weight: 500;
  }
  .functioning__list__txt__two {
    margin: 23px;
    font-weight: 500;
  }
  .functioning__list__txt__three {
    margin: 20px;
    font-weight: 500;
  }
  .functioning__list__number {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 96.2%;
    background-color: #9356DC;
    color: #FFFFFF;
    border-radius: 25px;
    width: 24px;
    height: 24px;
  }
  .functioning__block { /* modifié */
    display: flex;
    align-items: center;
    margin-left: 22px; /* modifié */
    gap: 47px; /* modifié */
  }
}
@media (max-width: 1900px) and (min-width: 1024.01px) and (max-width: 1225px) {
  .functioning__block {
    gap: 27px;
  }
}
@media (max-width: 1900px) {
  .fa-store {
    color: #9356DC;
  }
  .restaurants {
    display: flex;
    flex-direction: column;
    height: 668px;
    padding: 0 175.68px 20px 175.68px; /* modifié */
    background-color: #F7F7F7;
  }
}
@media (max-width: 1900px) and (min-width: 1024.01px) and (max-width: 1225px) {
  .restaurants {
    padding: 0 70px 42px 70px;
  }
}
@media (max-width: 1900px) {
  .restaurants__title {
    display: flex;
    padding: 30px 80px 28px 0; /* modifié */
  }
  .restaurants__title h2 {
    margin-left: 11px; /* modifié */
  }
  .restaurants__cards { /* modifié */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; /* modifié */
  }
  .restaurants__card {
    width: 47.85%; /* modifié */
    height: 251px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    border-radius: 15px;
    position: relative;
  }
  .restaurants__card__link {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    position: absolute;
  }
  .restaurants__card img {
    object-fit: cover;
    box-sizing: border-box;
    width: 100%;
    height: 174px;
    border-radius: 15px 15px 0 0;
  }
  .restaurants__card p {
    margin-top: 5px;
  }
  .restaurants__card__new {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 15px;
    background-color: #99E2D0;
    color: #008766;
    font-size: 14px;
    font-weight: 500;
    height: 29px;
    border-radius: 2px;
    padding: 0 9px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  }
  .restaurants__card__content {
    height: 77px;
    padding-left: 13px;
    margin-top: -5px;
    border-radius: 0 0 15px 15px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
  }
  .restaurants__card__content h3 {
    margin-top: 16px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 700;
  }
  .restaurants__card__content p {
    margin-bottom: 12px;
    font-size: 17px;
    font-weight: 300;
    margin-top: 0;
  }
  .fa-utensils {
    margin-right: 11px;
  }
  .fa-handshake-angle {
    margin-right: 5px;
  }
  .fa-heart {
    font-size: 22px;
  }
  .heart__icons--base {
    position: absolute;
  }
  .heart__icons--click {
    position: absolute;
    opacity: 0;
    background: linear-gradient(#9356DC, #FF79DA);
    background-clip: text;
    color: transparent;
    transition: all 0.6s;
  }
  .heart__icons--click:hover {
    opacity: 1;
  }
}
/* pages restaurants */
@media (max-width: 1900px) {
  #pages h1 {
    margin: 32px 0 40px -20px;
    position: relative;
  }
  #pages h2 {
    display: inline-block;
    position: relative;
    font-size: 16px;
    font-weight: 300;
    margin-top: 0;
  }
  #pages h2::after {
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    height: 3px;
    width: 40px;
    background-color: #99E2D0;
  }
  .heart__menus {
    cursor: pointer;
  }
  .menu img {
    width: 100%;
    height: 300px; /* modifié */
  }
  .menu i {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 24px;
    top: 40px;
  }
  .menu__cards {
    display: flex;
    flex-direction: column;
    justify-content: center; /* modifié */
    position: relative;
    margin-top: -60px;
    margin-left: 10%;
    padding: 0 80px 40px 80px; /* modifié */
    background-color: #F6F6F6;
    border-radius: 40px 40px 0 0;
    width: 80%; /* modifié */
    box-sizing: border-box;
  }
  .menu__block__entrees, .menu__block__plats, .menu__block__desserts {
    margin-bottom: 40px;
    padding-left: 210px;
    padding-right: 210px;
  }
  /* animation menus */
}
@media (max-width: 1900px) and (min-width: 1024.01px) and (max-width: 1225px) {
  .menu__block__entrees, .menu__block__plats, .menu__block__desserts {
    padding-left: 125px;
    padding-right: 125px;
  }
}
@media (max-width: 1900px) {
  .menu__restaurant {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 28px 0 4px;
    padding-bottom: 0;
  }
  .menu__card {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    cursor: pointer;
    margin-top: 12px;
    width: 100%;
    height: 69px;
    background-color: #FFFFFF;
    border-radius: 15.0431px;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .menu__card:hover .menu__price {
    margin-right: 0;
    transition-duration: 0.7s;
  }
  .menu__card h3 {
    width: 100%;
    margin: 0 0 5px 0;
    font-size: 18px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .menu__card p {
    width: 100%;
    margin: 0;
    font-size: 15.0431px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .menu__plate {
    width: 289px;
    padding-left: 15px;
    margin-top: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .menu__price {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
    margin-right: -59px;
  }
  .menu__price__euro {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    font-size: 15.0341px;
    font-weight: 700;
    width: 41px;
    height: 69px;
    padding-left: 7px;
  }
  .menu__price__euro p {
    margin-bottom: 12px;
    padding-right: 15px;
  }
  .menu__price__check {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 59px;
    height: 100%;
    background-color: #99E2D0;
    border-radius: 0 15px 15px 0;
  }
  .menu__price__check i {
    color: #FFFFFF;
  }
  .menu__delay__1 {
    animation: delay-menu 0.5s;
  }
  @keyframes delay-menu {
    from {
      transform: translateX(-2000px);
    }
    to {
      transform: translateX(0);
    }
  }
  .menu__delay__2 {
    animation: delay-menu 0.5s;
    animation-delay: 0.1s;
  }
  @keyframes delay-menu {
    from {
      transform: translateX(-2000px);
    }
    to {
      transform: translateX(0);
    }
  }
  .menu__delay__3 {
    animation: delay-menu 0.5s;
    animation-delay: 0.2s;
  }
  @keyframes delay-menu {
    from {
      transform: translateX(-2000px);
    }
    to {
      transform: translateX(0);
    }
  }
  .menu__delay__4 {
    animation: delay-menu 0.5s;
    animation-delay: 0.3s;
  }
  @keyframes delay-menu {
    from {
      transform: translateX(-2000px);
    }
    to {
      transform: translateX(0);
    }
  }
  .menu__delay__5 {
    animation: delay-menu 0.5s;
    animation-delay: 0.4s;
  }
  @keyframes delay-menu {
    from {
      transform: translateX(-2000px);
    }
    to {
      transform: translateX(0);
    }
  }
  .menu__delay__6 {
    animation: delay-menu 0.5s;
    animation-delay: 0.5s;
  }
  @keyframes delay-menu {
    from {
      transform: translateX(-2000px);
    }
    to {
      transform: translateX(0);
    }
  }
  .menu__delay__7 {
    animation: delay-menu 0.5s;
    animation-delay: 0.6s;
  }
  @keyframes delay-menu {
    from {
      transform: translateX(-2000px);
    }
    to {
      transform: translateX(0);
    }
  }
  .menu__delay__8 {
    animation: delay-menu 0.5s;
    animation-delay: 0.7s;
  }
  @keyframes delay-menu {
    from {
      transform: translateX(-2000px);
    }
    to {
      transform: translateX(0);
    }
  }
  .menu__delay__9 {
    animation: delay-menu 0.5s;
    animation-delay: 0.8s;
  }
  @keyframes delay-menu {
    from {
      transform: translateX(-2000px);
    }
    to {
      transform: translateX(0);
    }
  }
  .menu__delay__10 {
    animation: delay-menu 0.5s;
    animation-delay: 0.9s;
  }
  @keyframes delay-menu {
    from {
      transform: translateX(-2000px);
    }
    to {
      transform: translateX(0);
    }
  }
}
/* tablette reused */
@media (max-width: 1024px) {
  .functioning {
    padding: 0;
  }
  .functioning__title {
    padding: 50px 80px 25px 20px; /* modifié */
  }
  .functioning__list {
    width: 26.45%; /* modifié */
    margin: 0 20px 24.94px 32.51px;
  }
  .functioning__block { /* modifié */
    justify-content: center;
    gap: 0;
    margin-left: 0;
  }
  /***** pages restaurants *****/
  #pages h1 {
    margin: 32px 0 40px 0;
  }
  .heart__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
  }
  .heart__menus {
    top: 40px;
    right: 109px;
    cursor: pointer;
  }
  .menu i {
    margin: 0;
    top: 0;
  }
  .menu__restaurant {
    justify-content: space-between;
  }
  .menu__block__entrees, .menu__block__plats, .menu__block__desserts {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 880.01px) and (max-width: 945.99px) {
  .functioning__list__txt__one {
    margin-left: 5px;
  }
  .functioning__list__txt__two {
    margin-left: 5px;
  }
  .functioning__list__txt__three {
    margin-left: 5px;
  }
}
@media (min-width: 599.01px) and (max-width: 880px) {
  .functioning {
    height: 440px;
  }
  .functioning__title {
    padding: 48px 80px 26px 20px;
  }
  .functioning__block {
    flex-direction: column;
  }
  .functioning__list {
    width: 86%; /* modifié */
    margin: 0 20px 24.94px 32.51px;
  }
  .functioning__list__number {
    right: 98.2%; /* modifié */
  }
  .menu__cards {
    width: 90%;
    margin-left: 5%;
  }
  .menu__block__entrees, .menu__block__plats, .menu__block__desserts {
    margin-bottom: 40px;
    padding-left: 0;
    padding-right: 0;
  }
}
/* mobile reused */
@media (max-width: 599px) {
  .functioning {
    height: 440px;
  }
  .functioning__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .functioning__list {
    width: 86%;
    margin: 0 20px 24.94px 32.51px;
  }
  /***** Pages *****/
}
@media (max-width: 599px) and (min-width: 440px) and (max-width: 598.99px) {
  .functioning__list__number {
    right: 97.2%;
  }
}
@media (max-width: 599px) {
  .restaurants {
    height: 1226px;
  }
  .restaurants__title {
    padding: 54px 80px 26px 0;
  }
  .restaurants__title h2 {
    margin: 0;
  }
  .restaurants__cards {
    flex-direction: column;
    gap: 18px;
  }
  .restaurants__card {
    width: 100%;
  }
  #pages h1 {
    margin: 32px 0 40px 0;
  }
  .heart__menus {
    right: 50px;
  }
  .menu img {
    height: 275px;
  }
  .menu__cards {
    padding: 0 13px 40px 13px;
    width: 100%;
    margin-left: 0;
  }
}
/* blocks-one-use */
/* blocks-one-use */
/* desktop */
@media (max-width: 1900px) {
  /* main */
  .display__none i {
    visibility: hidden;
  }
  .explore__title__font, .functioning__title__font, .restaurants__title__font {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 24px;
  }
  .explore {
    text-align: center;
    height: 239px;
    background-color: #F7F7F7;
  }
  .explore__title {
    padding: 39.5px 58px 15px 42px;
  }
  .explore__title h1 {
    margin: 0;
  }
  .explore__title--font {
    margin: 0;
  }
  .explore p {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin: 0;
  }
  .explore__content {
    margin: 0 26px 27px 34px;
  }
  .explore__research a {
    text-decoration: none;
    color: #FFFFFF;
  }
  .heart__main {
    top: 202px;
    right: 37px;
    cursor: pointer;
    position: absolute;
  }
}
@media (max-width: 1900px) and (max-width: 1024px) {
  .heart__main {
    top: 206px;
    right: 25px;
  }
}
/* Tablette one-use */
@media (max-width: 1024px) {
  .restaurants {
    padding: 0 18px 0 17px;
  }
  .restaurants__title h2 {
    margin-left: 10px;
  }
}
/* mobile one-use */
@media (max-width: 599px) {
  .explore {
    height: 287.5px;
  }
}

/*# sourceMappingURL=style.css.map */
