/* variables */

$main-font: 'Roboto', sans-serif;
$second-font: 'Shrikhand', cursive;
$main-color: #9356DC;
$second-color: #FF79DA;
$third-color: #99E2D0;
$grey-dark: #353535;
$grey-color: #EAEAEA;
$grey-color-menus: #F6F6F6;
$grey-light-color: #F7F7F7; 
$white-color: #FFFFFF;
$black-color: black;
$heart-color: #101010;
$green-color: #008766;
$anim-time-point: 1s;
$anim-time-txt: 2s;
$anim-time-menu: 1s;